extends index 

block screen-content
    .row 
        .col-12 
            h1.text-white 
                |  Work : Case Studies
    .row 
        .col-12 
            #portfolio-items-wrapper.text-white
                a.portfolio-item.one(href="./portfolio-item-1.html") 
                    span.portfolio-item-meta Portfolio Item 1
                a.portfolio-item.two(href="./portfolio-item-2.html")
                    span.portfolio-item-meta Portfolio Item 2
                a.portfolio-item.three(href="./portfolio-item-3.html") 
                    span.portfolio-item-meta Portfolio Item 3
                a.portfolio-item.four(href="./portfolio-item-4.html") 
                    span.portfolio-item-meta Portfolio Item 4
                a.portfolio-item.five(href="./portfolio-item-5.html") 
                    span.portfolio-item-meta Portfolio Item 5
                a.portfolio-item.six(href="./portfolio-item-6.html") 
                    span.portfolio-item-meta Portfolio Item 6
                a.portfolio-item.seven(href="./portfolio-item-7.html") 
                    span.portfolio-item-meta Portfolio Item 7
                a.portfolio-item.eight(href="./portfolio-item-8.html") 
                    span.portfolio-item-meta Portfolio Item 8
                a.portfolio-item.nine(href="./portfolio-item-9.html") 
                    span.portfolio-item-meta Portfolio Item 9
        