extends index 

block screen-content 
    #portfolio-items-wrapper.text-white
        .portfolio-item.one Portfolio Item 1
        .portfolio-item.two Portfolio Item 2
        .portfolio-item.three Portfolio Item 3
        .portfolio-item.four Portfolio Item 4
        .portfolio-item.five Portfolio Item 5
        .portfolio-item.six Portfolio Item 6
        