extends index 

block screen-content
    .row 
        .col-12 
            h1.text-white. Work: Case Studies
    .row 
        .col-12 
            #portfolio-items-wrapper.text-white
                a.portfolio-item.one(href="./portfolio-item-1.html") Portfolio Item 1
                a.portfolio-item.two(href="./portfolio-item-2.html") Portfolio Item 2
                a.portfolio-item.three(href="./portfolio-item-3.html") Portfolio Item 3
                a.portfolio-item.four(href="./portfolio-item-4.html") Portfolio Item 4
                a.portfolio-item.five(href="./portfolio-item-5.html") Portfolio Item 5
                a.portfolio-item.six(href="./portfolio-item-6.html") Portfolio Item 6
                a.portfolio-item.seven(href="./portfolio-item-7.html") Portfolio Item 7
                a.portfolio-item.eight(href="./portfolio-item-8.html") Portfolio Item 8
                a.portfolio-item.nine(href="./portfolio-item-9.html") Portfolio Item 9
        