footer.border-top.border-light.py-3 
    .container 
        .row.text-light.d-flex.align-items-center 
            .col-6
                a(href="mailto:hey@ewright.me") hey@ewright.me 
            .col-6
                .row
                    .col-4 
                        a(href="#" target="_blank") 
                            .fab.fa-linkedin  
                    .col-4 
                        a(href="#" target="_blank") 
                            .fab.fa-behance 
                    .col-4 
                        a(href="#" target="_blank") 
                            .fab.fa-youtube 
            .col-12.text-center.mt-2
                small Available for freelance projects.